.comment-form{
    width: 100%;
    
}
.comment-input{
    padding: 8px;
}
.comment-button{
    padding: 8px;
    margin: 8px;
}
.comment-lebel{
font-size: 18px;
font-weight: 600;
color: rgb(28, 28, 148);
}